{% extends "base.html.twig" %}

{% block title %}Invoice Generator{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}

{% block body %}

    <header>
        <h1>FAKTURA</h1>
        <h2>Sprzedawca:</h2>
        <br>
        <address contenteditable>
            <p>Imię Nazwisko</p>
            <p>Ulica numer<br>Kod pocztowy, Miasto</p>
            <p>NIP</p>
            <h3>NUMER KONTA BANKOWEGO</h3>
        </address>
    </header>
    <article>
        <h2>Nabywca:</h2>
        <address contenteditable>
            <p>Company Name<br>Person Name</p>
        </address>
        <table class="meta">
            <tr>
                <th><span>Faktura #:</span></th>
                <td><span contenteditable>#XXXX</span></td>
            </tr>
            <tr>
                <th><span>Data wystawienia:</span></th>
                <td><span contenteditable>Styczen 18, 2018<span></td>
            </tr>
            <tr>
                <th><span>Data Sprzedaży:</span></th>
                <td><span contenteditable>Styczen, 2018</span></td>
            </tr>
            <tr>
                <th><span >Płatność:</span></th>
                <td><span id="prefix" contenteditable>$</span><span>Przelew</span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
            <tr>
                <th><span>Usługa</span></th>
                <th><span contenteditable>Opis</span></th>
                <th><span contenteditable>Cena Jednostkowa;</span></th>
                <th><span contenteditable>Płatność:</span></th>
                <th><span contenteditable>Price</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
                <td><span contenteditable>Experience Review</span></td>
                <td><span data-prefix>$</span><span contenteditable>150.00</span></td>
                <td><span contenteditable>4</span></td>
                <td><span data-prefix>$</span><span>600.00</span></td>
            </tr>
            </tbody>
        </table>
        <a class="add">+</a>
        <table class="balance">
            <tr>
                <th><span contenteditable>Total</span></th>
                <td><span data-prefix>$</span><span>600.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Paid</span></th>
                <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Balance Due</span></th>
                <td><span data-prefix>$</span><span>600.00</span></td>
            </tr>
        </table>
    </article>
    <aside>
        <h1><span>Opis Faktury</span></h1>
        <div contenteditable>
            <p>Faktura została wygenerowania automatycznie. Proszę recznie wprowadzić opis faktury</p>
        </div>
    </aside>

{% endblock %}

